## MAC files ##
.DS_Store
package-lock.json
## NPM ##
npm
npm-debug.log
node_modules/
newrelic.js
newrelic_agent.log
## Config ##
database/config.js
.eslintrc.js
jsconfig.json
## VS CODE##
.vscode
.nvmrc

# Compiled Dirs (http://nodejs.org/api/addons.html)
build/


